body::before {
  display: block;
  content: "";
  height: 70px;
}

#map {
  height: 600px;
  width: 100%;
}

.nav-link {
  cursor: pointer;
}

.showcase-img {
  border-radius: 50px;
  margin-bottom: 50px;
  margin-left: 80px;
}

.learn-img {
  margin-left: 100px;
  width: 285px;
}

.react-img {
  margin-left: 100px;
  border-radius: 20px;
  width: 555px;
}

.social-media i {
  cursor: pointer;
}
